.input_box{
    border: 3px solid rgb(61, 165, 224);
   margin-top:10px;
   margin-bottom:15px;
    width: 500px;
    height: 2.7rem;
    border-radius: 2px;
    
}

.button_box{
    background-color: rgb(61, 165, 224);
   
    border: 5px solid rgb(61, 165, 224);
    font-weight: bolder;
    color: white;
}